<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="handleD">DELETE</button>
    <button id="handleP">POST</button>
    <script src="./js/ajax.js"></script>
    <script >
        window.onload = function () {
            var handleD = document.querySelector('#handleD')
            handleD.onclick = function  () {
                console.log('d')
                myAjax('delete', 'http://localhost:3001/api/persons',{})
            }
        }
      
    </script>
</body>
</html>